/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body {
  font-family: "Inter", serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  min-width: 320px;
  position: relative;
  background: #f6ede4;
  max-width: 3000px;
  margin: auto;
  color: #001024; }

header, section, footer {
  margin: auto; }

a {
  text-decoration: none; }
  a:focus {
    outline: none !important; }

a:hover, a:focus, a:active {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, button {
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

figure {
  margin: 0; }
  figure img {
    width: auto;
    max-width: 100%;
    vertical-align: top; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

p, a {
  color: #001024;
  margin: 0; }

input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }

.content-width {
  width: 1330px;
  margin: auto; }

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 1.3px;
  margin: 0 0 30px; }

h3 {
  margin: 0 0 30px; }

h4 {
  margin: 0 0 30px; }

h5 {
  margin: 0 0 10px; }

h6 {
  margin: 0 0 10px; }

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

input, textarea, button {
  outline: none !important; }

.wpcf7 form .wpcf7-response-output {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  line-height: 1.2;
  background: #00a0d2; }

.wpcf7 form.sent .wpcf7-response-output {
  background: #46b450; }

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  background: #ffb900; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .bg .img-mob {
    display: none; }

.bg + * {
  position: relative;
  z-index: 2; }

/*-------------------------------HOME-PAGE---------------------------------*/
header {
  position: relative;
  z-index: 999;
  max-height: 0; }
  header .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0 0; }
  header .right a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    position: relative;
    background: #9c5e42;
    width: 48px;
    height: 48px;
    top: -2px; }
    header .right a span {
      display: inline-block;
      border: 1px solid #9c5e42;
      background: #7abccb;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      position: absolute;
      top: 3px;
      right: -3px; }

.home-banner {
  margin: 8px;
  border-radius: 16px;
  position: relative;
  padding: 16px;
  z-index: 10; }
  .home-banner .bg {
    border-radius: 16px; }
    .home-banner .bg img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }
  .home-banner .title {
    margin-top: 439px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 32px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .home-banner .title .left {
      width: 55%; }
    .home-banner .title .right {
      width: 35%; }
      .home-banner .title .right p {
        color: white;
        text-align: right;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px; }
  .home-banner h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    margin: 0;
    letter-spacing: 2px; }
  .home-banner .form-wrap {
    margin-left: -30px;
    min-width: calc(100% + 60px);
    border-radius: 8px;
    background: white;
    padding: 32px 31px 41px; }
  .home-banner .bottom {
    margin-top: -38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc(100% - 210px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .home-banner .bottom h6 {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      margin: 0;
      width: 72px; }
    .home-banner .bottom ul {
      width: calc(100% - 72px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      grid-gap: 8px; }
      .home-banner .bottom ul li a {
        border: 1px solid #9c5e42;
        border-radius: 40px;
        color: #191919;
        font-size: 14px;
        line-height: 28px;
        padding: 0 11px;
        display: inline-block; }
        .home-banner .bottom ul li a:hover {
          background: #9c5e42;
          color: #fff;
          border-color: #9c5e42; }
      .home-banner .bottom ul .is-active a {
        background: #191919;
        color: #fff;
        border-color: #191919; }

.form-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 16px; }
  .form-banner .input-wrap {
    width: 27%; }
    .form-banner .input-wrap label {
      display: block;
      margin-bottom: 7px;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px; }
    .form-banner .input-wrap input {
      width: 100%;
      border: none;
      border-radius: 8px;
      background: #f3ece4;
      height: 56px;
      line-height: 56px;
      padding: 0 15px;
      outline: none !important; }
  .form-banner .input-wrap-3 {
    width: 31%; }
  .form-banner .input-wrap-4 {
    width: calc(100% - 27% - 27% - 31% - 16px - 16px - 16px); }
  .form-banner .nice-select {
    float: none;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #f3ece4;
    height: 56px;
    line-height: 56px;
    font-size: 16px; }
  .form-banner .input-wrap-submit {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .form-banner .nice-select:after {
    border-bottom: 2px solid #001024;
    border-right: 2px solid #001024;
    right: 15px;
    width: 7px;
    height: 7px;
    margin-top: -6px; }
  .form-banner .nice-select .list {
    width: 100%; }
    .form-banner .nice-select .list .disabled {
      display: none; }

.btn-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 8px;
  background: #7abccb;
  height: 48px;
  line-height: 48px;
  padding: 0 43px;
  font-size: 16px;
  font-weight: 500;
  color: #fff; }
  .btn-arrow i {
    margin-left: 10px; }
  .btn-arrow:hover {
    background: #508998; }

.best-offers {
  padding: 49px 0 50px;
  position: relative;
  z-index: 10; }
  .best-offers .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 32px; }
    .best-offers .title .left {
      width: calc(100% - 250px); }
      .best-offers .title .left p {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.2px; }
    .best-offers .title .right {
      width: 240px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .best-offers .title .right a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px; }
        .best-offers .title .right a i {
          margin-left: 10px;
          background: #9c5e42;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          color: #fff;
          font-size: 10px; }
        .best-offers .title .right a:hover i {
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg); }
  .best-offers h2 {
    margin: 0 0 7px; }
  .best-offers .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 24px; }
  .best-offers .item {
    width: calc(25% - 18px);
    border-radius: 24px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(26, 15, 32, 0.02), 0px 15px 15px 0px rgba(26, 15, 32, 0.02), 0px 35px 21px 0px rgba(26, 15, 32, 0.01), 0px 62px 25px 0px rgba(26, 15, 32, 0), 0px 96px 27px 0px rgba(26, 15, 32, 0);
            box-shadow: 0px 4px 8px 0px rgba(26, 15, 32, 0.02), 0px 15px 15px 0px rgba(26, 15, 32, 0.02), 0px 35px 21px 0px rgba(26, 15, 32, 0.01), 0px 62px 25px 0px rgba(26, 15, 32, 0), 0px 96px 27px 0px rgba(26, 15, 32, 0);
    background: white;
    padding: 8px; }
    .best-offers .item figure {
      height: 200px;
      overflow: hidden;
      border-radius: 16px;
      position: relative; }
      .best-offers .item figure .label {
        display: inline-block;
        position: absolute;
        z-index: 5;
        border-radius: 8px;
        background: #9c5e42;
        padding: 0 8px;
        font-size: 10px;
        font-weight: 500;
        color: #fff;
        line-height: 24px;
        top: 8px;
        left: 10px;
        text-transform: uppercase; }
      .best-offers .item figure img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .best-offers .item figure:hover img {
        -webkit-transform: scale(1.03);
                transform: scale(1.03); }
  .best-offers .text {
    padding: 24px 17px 17px; }
    .best-offers .text h6 {
      margin-bottom: 9px; }
      .best-offers .text h6 a {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px; }
        .best-offers .text h6 a:hover {
          color: #9c5e42; }
    .best-offers .text ul {
      margin-bottom: 10px; }
      .best-offers .text ul li {
        margin-bottom: 12px;
        position: relative;
        padding-left: 23px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px; }
        .best-offers .text ul li img {
          position: absolute;
          top: 0;
          left: 0; }
  .best-offers .btn-wrap {
    margin-top: 23px;
    padding-top: 24px;
    border-top: 1px dashed #bebebe; }
    .best-offers .btn-wrap a {
      width: 100%;
      padding: 0 15px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.travel {
  position: relative; }
  .travel .bg {
    top: -105px;
    bottom: -50px; }
    .travel .bg:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 60%;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(243, 236, 228, 0.5)), to(#f3ece4));
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(243, 236, 228, 0.5) 50%, #f3ece4 100%);
      z-index: 3; }
    .travel .bg:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(0, 0, 0, 0.5);
      z-index: 2; }
    .travel .bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      -o-object-position: center;
         object-position: center; }
  .travel .content-width {
    height: 705px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .travel .content {
    width: 49%;
    padding: 0 100px 0 0; }
  .travel h2 {
    margin-bottom: 25px;
    color: #fff; }
  .travel ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 8px; }
    .travel ul li a {
      display: inline-block;
      -webkit-box-shadow: 0px 4px 8px 0px rgba(26, 15, 32, 0.02), 0px 15px 15px 0px rgba(26, 15, 32, 0.02), 0px 35px 21px 0px rgba(26, 15, 32, 0.01), 0px 62px 25px 0px rgba(26, 15, 32, 0), 0px 96px 27px 0px rgba(26, 15, 32, 0);
              box-shadow: 0px 4px 8px 0px rgba(26, 15, 32, 0.02), 0px 15px 15px 0px rgba(26, 15, 32, 0.02), 0px 35px 21px 0px rgba(26, 15, 32, 0.01), 0px 62px 25px 0px rgba(26, 15, 32, 0), 0px 96px 27px 0px rgba(26, 15, 32, 0);
      background: white;
      border-radius: 40px;
      font-size: 16px;
      line-height: 48px;
      padding: 0 20px; }
      .travel ul li a:hover {
        background: #001024;
        color: #fff; }
  .travel .content-width {
    position: relative;
    z-index: 5;
    padding: 0 0 48px; }

.text-img {
  padding: 5px 0 50px;
  position: relative;
  z-index: 5; }
  .text-img .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 24px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(26, 15, 32, 0.02), 0px 15px 15px 0px rgba(26, 15, 32, 0.02), 0px 35px 21px 0px rgba(26, 15, 32, 0.01), 0px 62px 25px 0px rgba(26, 15, 32, 0), 0px 96px 27px 0px rgba(26, 15, 32, 0);
            box-shadow: 0px 4px 8px 0px rgba(26, 15, 32, 0.02), 0px 15px 15px 0px rgba(26, 15, 32, 0.02), 0px 35px 21px 0px rgba(26, 15, 32, 0.01), 0px 62px 25px 0px rgba(26, 15, 32, 0), 0px 96px 27px 0px rgba(26, 15, 32, 0);
    background: white;
    padding: 24px 24px 24px 48px; }
  .text-img .text {
    width: 47%; }
    .text-img .text figure {
      display: none;
      margin-bottom: 20px; }
  .text-img h2 {
    margin-bottom: 32px; }
  .text-img p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 32px; }
  .text-img figure {
    width: 46.8%; }
    .text-img figure img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 8px; }
  .text-img .btn-arrow {
    padding: 0 22px; }

.faq {
  padding: 69px 0 118px; }
  .faq .content {
    margin: auto;
    width: 880px; }
  .faq h2 {
    margin-bottom: 23px; }
  .faq .accordion-item {
    border-bottom: 1px dashed #bebebe; }
  .faq .accordion-item:first-child {
    border-top: 1px dashed #bebebe; }
  .faq .accordion-thumb {
    height: 78px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 0 80px 0 24px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer; }
    .faq .accordion-thumb span {
      position: absolute;
      top: 23px;
      right: 24px;
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: white;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
      .faq .accordion-thumb span i {
        font-size: 16px;
        color: #9c5e42; }
    .faq .accordion-thumb p {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.3px; }
  .faq .accordion-panel {
    display: none;
    position: relative;
    z-index: 10; }
    .faq .accordion-panel .wrap {
      position: relative;
      padding: 0 70px 32px 24px;
      color: rgba(0, 16, 36, 0.8);
      top: 0; }
      .faq .accordion-panel .wrap > * {
        margin-bottom: 20px; }
      .faq .accordion-panel .wrap > *:last-child {
        margin-bottom: 0; }
      .faq .accordion-panel .wrap ul {
        padding-left: 20px;
        list-style: disc; }
        .faq .accordion-panel .wrap ul li {
          list-style: disc; }
    .faq .accordion-panel p {
      color: rgba(0, 16, 36, 0.8);
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 20px; }
    .faq .accordion-panel p:last-child {
      margin-bottom: 0; }
  .faq .is-active {
    background: #fff; }
    .faq .is-active .accordion-thumb span {
      background: #9c5e42; }
      .faq .is-active .accordion-thumb span i {
        color: #fff;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
    .faq .is-active .accordion-thumb {
      height: 62px;
      padding-top: 15px; }

footer {
  border-radius: 8px;
  background: #001024;
  padding: 48px 0 46px;
  margin: 8px; }
  footer .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 20px; }
  footer .item {
    width: 25%; }
    footer .item h6 {
      color: white;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 15px; }
    footer .item ul li {
      margin-bottom: 10px; }
      footer .item ul li a {
        color: rgba(255, 255, 255, 0.56);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px; }
        footer .item ul li a:hover {
          color: #fff; }
    footer .item .soc {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      grid-gap: 8px; }
      footer .item .soc li a {
        border-radius: 8px;
        background: #7abccb;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #001024;
        width: 32px;
        height: 32px; }
        footer .item .soc li a:hover {
          background: #9c5e42; }
  footer .bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 20px;
    margin-top: 47px; }
    footer .bottom ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      grid-gap: 24px; }
      footer .bottom ul a {
        color: rgba(255, 255, 255, 0.56);
        font-size: 12px;
        font-weight: 400;
        line-height: 15px; }
        footer .bottom ul a:hover {
          color: #fff; }
    footer .bottom p {
      color: rgba(255, 255, 255, 0.56);
      font-size: 12px;
      font-weight: 400;
      line-height: 15px; }
  footer .logo-wrap {
    margin-bottom: 20px; }
  footer .text {
    padding-right: 90px; }
    footer .text p {
      color: white;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px; }
  footer .item-2 {
    width: 23.5%; }
  footer .item-3 {
    width: 23%; }
  footer .item-4 {
    width: calc(100% - 25% - 23.5% - 23% - 60px); }

.form-subscribe {
  width: 100%;
  position: relative; }
  .form-subscribe label {
    display: none; }
  .form-subscribe input {
    width: 100%;
    border-radius: 8px;
    background: #f6ede4;
    height: 56px;
    line-height: 56px;
    padding: 0 60px 0 15px;
    border: none;
    outline: none !important; }
  .form-subscribe .btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    background: #9c5e42;
    width: 40px;
    height: 40px;
    color: #fff;
    border: none; }
    .form-subscribe .btn:hover {
      background: #fff;
      color: #9c5e42; }

/*------------------------------END-HOME-PAGE---------------------------------*/
/*------------------------------PRODUCT-PAGE---------------------------------*/
.product-banner {
  margin: 8px;
  border-radius: 16px;
  overflow: hidden;
  position: relative; }
  .product-banner .bg {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45.192%, rgba(0, 16, 36, 0)), to(rgba(0, 16, 36, 0.64))), #d9d9d9;
    background: linear-gradient(180deg, rgba(0, 16, 36, 0) 45.192%, rgba(0, 16, 36, 0.64) 100%), #d9d9d9; }
    .product-banner .bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }
  .product-banner .content-width {
    height: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 40px 0; }
  .product-banner h1 {
    color: #fff;
    max-width: 70%;
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 1.8px; }

/*-----------------------------END-PRODUCT-PAGE---------------------------------*/

/*# sourceMappingURL=styles.css.map */